[submodule "opencode/.config/opencode/superpowers"]
	path = opencode/.config/opencode/superpowers
	url = https://github.com/obra/superpowers
[submodule "opencode/.config/opencode/excalidraw-diagram-skill"]
	path = opencode/.config/opencode/excalidraw-diagram-skill
	url = https://github.com/coleam00/excalidraw-diagram-skill.git
